/**:
  ros__parameters:
    # generate_parameter_library parameters
    planning_frequency_hz: 10.0

    # Planner modules to load (list of plugin class names)
    # Example: ["autoware::rule_based_planner::ObstacleStopModule"]
    planner_modules:
      - autoware::rule_based_planner::ObstacleStopModule

    path_length:
      backward: 5.0
      forward: 300.0

    path_shift:
      enable: true
      minimum_shift_length: 0.5
      minimum_shift_yaw: 0.349 # 20 deg
      minimum_shift_distance: 5.0
      velocity_breakpoints: [0.0, 8.33] # m/s max 30kmph
      shift_length_to_distance_ratio_table: [2.0, 55.0] # m / (m/s)
      guide_distance_table: [1.0, 10.0]
      use_quintic_polynomial: true

    waypoint_group:
      separation_threshold: 1.0
      interval_margin_ratio: 10.0

    smooth_goal_connection:
      search_radius_range: 7.5
      pre_goal_offset: 1.0

    lanelet_ego_nearest_dist_threshold: 3.0
    lanelet_ego_nearest_yaw_threshold: 1.046

    output_delta_arc_length: 0.5

    enable_debug_path: true
    enable_debug_trajectory: true

    # Elastic Band Smoother
    eb_smoother:
      enable: true

    # Velocity Smoother
    velocity_smoother:
      enable: true

    # Post-optimization resample
    post_resample:
      max_trajectory_length: 300.0
      min_trajectory_length: 30.0
      resample_time: 10.0
      dense_resample_dt: 0.1
      dense_min_interval_distance: 0.1
      sparse_resample_dt: 0.1
      sparse_min_interval_distance: 1.0
