/**:
  ros__parameters:
    # generate_parameter_library parameters
    planning_frequency_hz: 10.0

    # Planner modules to load (list of plugin class names)
    # Example: ["autoware::rule_based_planner::ObstacleStopModule"]
    planner_modules:
      - autoware::rule_based_planner::ObstacleStopModule

    path_length:
      backward: 5.0
      forward: 300.0

    waypoint_group:
      separation_threshold: 1.0
      interval_margin_ratio: 10.0

    smooth_goal_connection:
      search_radius_range: 7.5
      pre_goal_offset: 1.0

    lanelet_ego_nearest_dist_threshold: 3.0
    lanelet_ego_nearest_yaw_threshold: 1.046

    output_delta_arc_length: 0.5

    enable_debug_path: true
    enable_debug_trajectory: true

    # Elastic Band Smoother
    eb_smoother:
      enable: false

    # Velocity Smoother
    velocity_smoother:
      enable: true

    mpt_optimizer:
      enable: true
